<div *ngIf="seemoreinfo">
  <kt-portlet [class]="'kt-portlet--height-fluid'">
    <kt-portlet-header [icon]="'fa fa-archive'" [title]="'User Full Information'">
    </kt-portlet-header>
    <kt-portlet-body>
      <div class="row col-xl-12 col-md-12 col-s-12">
        <div class="col-xl-6 col-md-6 col-s-12">
            <div>Username: {{ username }}</div>
            <div>Name: {{ name }}</div>
            <div>Lastname: {{ lastname }}</div>
            <div>Middle: {{ middlename }}</div>
            <div>Contact: {{ mobile }}</div>
        </div>
        <div class="col-xl-6 col-md-6 col-s-12">
           <div>Email: {{ email }}</div>
           <div>Type: {{ user_type }}</div>
           <div>Status: {{ status}}</div>
           <div>Joined: {{ joined | date: 'MMMM-dd-yyyy'}}</div>
           <div>Last-Logged: {{ lastlogged | date: 'MMMM-dd-yyyy'}}</div>
        </div>
      </div>
      <div>
        <hr>
        <div class="d-flex justify-content-between">
         <div></div> 
        <div class="ml-5 mr-1"><button mat-icon-button (click)="closeInfo()"><label class="btn btn-label-primary">Close</label></button></div>
       </div>
      </div>
    </kt-portlet-body>
  </kt-portlet>
</div>
<!-- add new user -->
<div *ngIf="newuser">
  <kt-portlet>
      <kt-portlet-header [title]="'new user'"></kt-portlet-header>
      <kt-portlet-body class="position-relative">
         <ngx-ui-loader [loaderId]="'user-proc'" overlayColor="rgba(255, 255, 255, 0.87)"
         fgsType="three-bounce" fgsSize="50">
          </ngx-ui-loader>
            <form [formGroup]="userGroup">
              <div class ='form-group row col-xl-12 col-md-12 col-s-12'>
             <div class="col-xl-6 col-md-6 col-s-6">
                <mat-form-field>
                    <mat-label>Username</mat-label>
                    <input matInput type="text" placeholder="Username" formControlName="username"/>
                    <mat-error *ngIf="userGroup.controls['username'].touched && userGroup.controls['username'].errors?.required">
                      <strong>Username is required</strong>
                    </mat-error>
                  </mat-form-field>
                  <mat-form-field>
                      <mat-label>Firstname</mat-label>
                      <input matInput type="text" placeholder="Firstname" formControlName="firstname"/>
                      <mat-error *ngIf="userGroup.controls['firstname'].touched && userGroup.controls['firstname'].errors?.required">
                        <strong>Firstname is required</strong>
                      </mat-error>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Lastname</mat-label>
                        <input matInput type="text" placeholder="Lastname" formControlName="lastname"/>
                        <mat-error *ngIf="userGroup.controls['lastname'].touched && userGroup.controls['lastname'].errors?.required">
                          <strong>Lastname is required</strong>
                        </mat-error>
                      </mat-form-field>
                      <mat-form-field>
                          <mat-label>Middlename</mat-label>
                          <input matInput type="text" placeholder="Middlename" formControlName="middlename"/>
                          <mat-error *ngIf="userGroup.controls['middlename'].touched && userGroup.controls['middlename'].errors?.required">
                            <strong>Middlename is required</strong>
                          </mat-error>
                        </mat-form-field>
             </div>
             <div class="col-xl-6 col-md-6 col-s-6">
                <mat-form-field>
                    <mat-label>Mobile</mat-label>
                    <input matInput type="text" placeholder="Mobile" formControlName="mobile"/>
                    <mat-error *ngIf="userGroup.controls['mobile'].touched && userGroup.controls['mobile'].errors?.required">
                      <strong>Mobile is required</strong>
                    </mat-error>
                  </mat-form-field>
                  <mat-form-field>
                      <mat-label>Email</mat-label>
                      <input matInput type="text" placeholder="Email" formControlName="email" [email]=true/>
                      <mat-error *ngIf="userGroup.controls['email'].touched && userGroup.controls['email'].errors?.required">
                        <strong>email is required</strong>
                      </mat-error>
                  </mat-form-field>
                <mat-form-field>
                    <mat-select placeholder="Type" formControlName="user_type">
                      <mat-option *ngFor="let item of userType" [value]="item.value">
                        {{item.viewValue}}  
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="userGroup.controls['user_type'].touched && userGroup.controls['user_type'].errors?.required">
                        <strong>user type is required</strong></mat-error>
                  </mat-form-field>
                  <mat-form-field>
                      <mat-select placeholder="Status" formControlName="user_status">
                        <mat-option *ngFor="let item of userStatus" [value]="item.value">
                          {{item.viewValue}}  
                        </mat-option>
                      </mat-select>
                      <mat-error *ngIf="userGroup.controls['user_status'].touched && userGroup.controls['user_status'].errors?.required">
                          <strong> Status is required</strong></mat-error>
                    </mat-form-field>
              </div>
            </div>
            </form>
            <hr>
            <div class = "row d-flex justify-content-between">
              <div></div>
              <div class="ml-5">
                  <button mat-button (click)="closeAdd()"><label class="btn btn-label-danger">Close</label></button>
                <button mat-button (click)="submit()"><label class="btn btn-label-success">Submit</label></button></div>
            </div>
      </kt-portlet-body>
  </kt-portlet>
</div>
<div class="col-xl-12">
  <kt-portlet [class]="'kt-portlet--height-fluid'">
    <kt-portlet-body class="position-relative">
      <ngx-ui-loader [loaderId]="'user'" overlayColor="rgba(255, 255, 255, 0.87)"
      fgsType="three-bounce" fgsSize="50">
       </ngx-ui-loader>
      <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search user here ..">
      </mat-form-field>
      <div class="row">
        <div class="col-6 d-flex justify-content-start">
          <button class="btn btn-success btn-sm" type="button" (click)="addUser()"><i
              class="flaticon flaticon-add mr-1"></i>Add User</button>
        </div>
        <div class="col-6 d-flex justify-content-end">
          <!-- <button class="btn btn-success btn-sm" type="button" (click)="launchNew()"> <i class="fa fa-plus mr-1"></i>
            Profile</button> -->
        </div>
      </div>

      <div perfectScrollbar [ngStyle]="{'position': 'relative'}"
        class="mat-table__wrapper mat-table__wrapper--dashboard">

        <mat-table [dataSource]="dataSource" matSort>
          <!-- Name Column -->
          <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
            <mat-cell *matCellDef="let data">
              {{data.id}}
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="username">
            <mat-header-cell *matHeaderCellDef> USERNAME </mat-header-cell>
            <mat-cell *matCellDef="let data">
              {{data.username}}
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="firstname">
            <mat-header-cell *matHeaderCellDef> FIRSTNAME </mat-header-cell>
            <mat-cell *matCellDef="let data">
              {{data.firstname}}
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="lastname">
            <mat-header-cell *matHeaderCellDef> LASTNAME </mat-header-cell>
            <mat-cell *matCellDef="let data">
              {{data.lastname}}
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="mobile">
            <mat-header-cell *matHeaderCellDef> MOBILE </mat-header-cell>
            <mat-cell *matCellDef="let data">
              {{data.mobile}}
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="user_type">
            <mat-header-cell *matHeaderCellDef> TYPE </mat-header-cell>
            <mat-cell *matCellDef="let data">
              {{data.user_type}}
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="status">
            <mat-header-cell *matHeaderCellDef> STATUS </mat-header-cell>
            <mat-cell *matCellDef="let data">
              {{data.status}}
            </mat-cell>
          </ng-container>
          <!-- Action Column -->
          <ng-container matColumnDef="action">
            <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
            <mat-cell *matCellDef="let data">
              <div class="justify-content-center">
                <button mat-icon-button color="primary">
                  <mat-icon matTooltip="See Full Information" (click)="more(data)">more</mat-icon>
                </button>
                <button mat-icon-button color="primary" (click)="action(data.id,'active')" *ngIf="data.status == 'suspended'">
                  <mat-icon matTooltip="Cancel this Suspension">panorama_fish_eye</mat-icon>
                </button>
                <button mat-icon-button color="primary" *ngIf="data.status !== 'suspended' && data.status !== 'active'">
                  <mat-icon matTooltip="Action cannot be perform carrier in delivery">directions_bike</mat-icon>
                </button>
                <button mat-icon-button color="warn" (click)="action(data.id,'suspended')" *ngIf="data.status == 'active'">
                    <mat-icon matTooltip="Suspend this user">block</mat-icon>
                  </button>
              </div>
            </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

        </mat-table>

      </div>
      <div *ngIf="!dataSource" class="row col-xl-12 justify-content-center mt-3">No records found</div>
      <div class="mat-table__bottom mat-table__bottom--padding">
        <mat-paginator [pageSize]="pages" [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons>
        </mat-paginator>
      </div>


    </kt-portlet-body>
  </kt-portlet>
</div>
