.wrapper
{
	padding-bottom: 90px;
}

.divider
{
	position: relative;
	margin-top: 10px;
	height: 1px;
}

.div-stopper:after
{
	content: "";
	position: absolute;
	z-index: 1;
	top: -6px;
	left: calc(50% - 7px);
	width: 14px;
	height: 12px;
	background-color: white;
	border-left: 1px solid rgb(48,49,51);
	border-right: 1px solid rgb(48,49,51);
}

.div-transparent:before
{
	content: "";
	position: absolute;
	top: 0;
	left: 5%;
	right: 5%;
	width: 90%;
	height: 1px;
	background-image: linear-gradient(to right, transparent, rgb(48,49,51), transparent);
}

.close {
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -12px;
    width: 24px;
    height: 24px;
    border: 2px solid transparent;
    border-radius: 25%;
    font-size: 0;
    color: transparent;
    transform: rotate(45deg);
    cursor: pointer;
    transition: all 100ms ease-out;
    
    &:hover {
      border-color: #0abb87;
      transition: all 100ms 100ms ease-in;
    }
    
    &:before, &:after {
      content: '';
      position: absolute;
      left: 50%; 
      top: 50%;
      display: block;
      background-color: black;
      transition: all 100ms ease-in;
    }
    &:hover:before, &:hover:after {
      transition: all 100ms 100ms ease-out;
    }
    &:before {
      width: 18px;
      height: 2px;
      margin: -1px auto auto -9px;
    }
    &:after {
      width: 2px;
      height: 18px;
      margin: -9px auto auto -1px;
    }
    
    &:hover:before {
      width: 12px;
      height: 2px;
      margin: -1px auto auto -6px;
    }
    &:hover:after {
      width: 2px;
      height: 12px;
      margin: -6px auto auto -1px;
    }
}

