<div class="col-xl-12">
  <kt-portlet [class]="'kt-portlet--height-fluid'">
    <kt-portlet-body>
      <div class="row">
        <div class="col-6 d-flex justify-content-start">
          <button class="btn btn-success btn-sm" type="button" (click)="open(setDefaultSettings)"><i
              class="flaticon flaticon-refresh mr-1"></i>Refresh</button>
        </div>
        <div class="col-6 d-flex justify-content-end">
          <!-- <button class="btn btn-success btn-sm" type="button" (click)="launchNew()"> <i class="fa fa-plus mr-1"></i>
            Profile</button> -->
        </div>
      </div>

      <div perfectScrollbar [ngStyle]="{'position': 'relative'}"
        class="mat-table__wrapper mat-table__wrapper--dashboard">

        <mat-table [dataSource]="dataSource" matSort>
          <!-- Name Column -->
          <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
            <mat-cell *matCellDef="let data">
              {{data.id}}
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="user">
            <mat-header-cell *matHeaderCellDef> USER </mat-header-cell>
            <mat-cell *matCellDef="let data">
              {{data.user}}
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="date">
            <mat-header-cell *matHeaderCellDef>ORDER DATE </mat-header-cell>
            <mat-cell *matCellDef="let data">
              {{data.date.date | date: 'MMMM-dd-yyyy'}}
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="items">
            <mat-header-cell *matHeaderCellDef> ITEMS </mat-header-cell>
            <mat-cell *matCellDef="let data">
              <label class="btn btn-label-danger">check</label>
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="billingInfo">
            <mat-header-cell *matHeaderCellDef> BILLING-INFO </mat-header-cell>
            <mat-cell *matCellDef="let data">
             {{data.billinginfo[0].Address}}
             {{data.billinginfo[0].City}}
              <!-- {{data.payment_type}} -->
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="paymentType">
            <mat-header-cell *matHeaderCellDef> PAYMENT-TYPE </mat-header-cell>
            <mat-cell *matCellDef="let data">
              {{data.payment_type}}
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="deliveryDatetime">
            <mat-header-cell *matHeaderCellDef> DATE REQUESTED </mat-header-cell>
            <mat-cell *matCellDef="let data">
              {{data.delivery_datetime.date | date: 'MMMM-dd-yyyy (H:mm)'}}
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="status">
            <mat-header-cell *matHeaderCellDef> STATUS </mat-header-cell>
            <mat-cell *matCellDef="let data">
              {{data.status}}
            </mat-cell>
          </ng-container>
          
          <!-- Action Column -->
          <ng-container matColumnDef="action">
            <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
            <mat-cell *matCellDef="let data">
              <div class="justify-content-center">
                <button mat-icon-button color="primary">
                  <mat-icon matTooltip="Complete & Prepair">restaurant</mat-icon>
                </button>
                <button mat-icon-button color="warn">
                  <mat-icon matTooltip="Cancel this Transaction">restaurant_menu</mat-icon>
                </button>
              </div>
            </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

        </mat-table>

      </div>
      <div *ngIf="!dataSource" class="row col-xl-12 justify-content-center mt-3">No records found</div>
      <div class="mat-table__bottom mat-table__bottom--padding">
        <mat-paginator [pageSize]="pages" [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons>
        </mat-paginator>
      </div>


    </kt-portlet-body>
  </kt-portlet>
</div>

<!-- Modal Set Default Settings Form -->
<div class="kt-section">
  <div class="kt-section__content">
    <ng-template #setDefaultSettings let-c="close" let-d="dismiss">
      <div class="modal-header">
        <h4 class="modal-title">Confirmation</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to proceed?</p>
      </div>
      <div class="modal-footer">
        <button class="btn btn-danger" type="button" (click)="c('Close click')">Yes</button>
        <button class="btn btn-secondary" type="button" (click)="c('Close click')">No</button>
      </div>
    </ng-template>
  </div>
</div>