<div *ngIf="addrecipe">
  <kt-portlet>
    <kt-portlet-header [title]="'add/edit'"></kt-portlet-header>
    <kt-portlet-body>
      <div class="row">
        <div>
          <img id="product" [src]="image" *ngIf="image" alt="asdsadsad">
          <h6 class="card-title">Select a file for product:</h6>
          <input type="file" (change)="upload($event)" accept=".png,.jpg" />
        </div>
      </div>
    </kt-portlet-body>
  </kt-portlet>
</div>
<kt-portlet *ngIf="viewIngredients">
  <kt-portlet-body>
    <div class="row">
      <div class="col-xl-8 col-lg-8 col-sm-8 col-md-8">
        <div perfectScrollbar [ngStyle]="{'position': 'relative'}"
          class="mat-table__wrapper mat-table__wrapper--dashboard">

          <mat-table [dataSource]="dataSource2" matSort>
            <!-- Name Column -->
            <ng-container matColumnDef="name">
              <mat-header-cell *matHeaderCellDef> NAME </mat-header-cell>
              <mat-cell *matCellDef="let data">
                {{data.name}}
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef="qty">
              <mat-header-cell *matHeaderCellDef> QUANTITY </mat-header-cell>
              <mat-cell *matCellDef="let data">
                {{data.quantity}}
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef="unit">
              <mat-header-cell *matHeaderCellDef> UNIT </mat-header-cell>
              <mat-cell *matCellDef="let data">
                {{data.unit}}
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef="sold">
              <mat-header-cell *matHeaderCellDef> SOLD </mat-header-cell>
              <mat-cell *matCellDef="let data">
                {{data.sold}}
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef="totalamount">
              <mat-header-cell *matHeaderCellDef> SALES </mat-header-cell>
              <mat-cell *matCellDef="let data">
                {{data.sold*data.price}}
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef="type">
              <mat-header-cell *matHeaderCellDef> TYPE </mat-header-cell>
              <mat-cell *matCellDef="let data">
                {{data.type}}
              </mat-cell>
            </ng-container>

            <!-- Action Column -->
            <ng-container matColumnDef="action">
              <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
              <mat-cell *matCellDef="let data">
                <div class="justify-content-center">
                  <button mat-icon-button color="primary" (click)="updateing(data)">
                    <mat-icon matTooltip="Edit | Update ">edit</mat-icon>
                  </button>
                  <button mat-icon-button color="warn" (click)="deleteing(data.id)">
                    <mat-icon matTooltip="Delete Menu">delete</mat-icon>
                  </button>
                </div>
              </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns2"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns2;"></mat-row>
          </mat-table>
        </div>
        <div *ngIf="!dataSource" class="row col-xl-12 justify-content-center mt-3">No records found</div>
        <div class="mat-table__bottom mat-table__bottom--padding">
          <mat-paginator [pageSize]="pages" [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons>
          </mat-paginator>
        </div>
      </div>
      <div>
        <div class="d-flex justify-content-center"><h6>Add/Edit Ingredient</h6></div>
        <form [formGroup]="invGroup">
          <div class="row col-xl-12 col-md-12 col-s-12">

            <div class=" col-lg-6 col-md-6 col-sm-6">
              <mat-form-field>
                <mat-label>Name</mat-label>
                <input matInput type="text" placeholder="Name" formControlName="name" />
                <mat-error *ngIf="invGroup.controls['name'].touched && invGroup.controls['name'].errors?.required">
                  <strong>Name is required</strong>
                </mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class=" col-lg-6 col-md-6 col-sm-6">
              <mat-form-field>
                <mat-select placeholder="Ingredient Quantity" formControlName="quantity">
                  <mat-option *ngFor="let item of Quantity" [value]="item.value">
                    {{item.viewValue}}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="invGroup.controls['quantity'].touched && 
                invGroup.controls['quantity'].errors?.required">
                  <strong> Quantity is required</strong></mat-error>
              </mat-form-field>
            </div>
            <div class=" col-lg-6 col-md-6 col-sm-6">
                <mat-form-field>
                  <mat-select placeholder="Ingredient unit" formControlName="unit">
                    <mat-option *ngFor="let item of Unit" [value]="item.value">
                      {{item.viewValue}}
                    </mat-option>
                  </mat-select>
                  <mat-error *ngIf="invGroup.controls['unit'].touched && 
                  invGroup.controls['unit'].errors?.required">
                    <strong> Unit is required</strong></mat-error>
                </mat-form-field>
              </div>
        </form>
        <div class="row d-flex justify-content-end" style="padding-top:20px;">
            <div><button mat-button (click)="closeing()"><label class="btn btn-label-danger">Close</label></button></div>
            <div><button mat-button (click)="submiting()"><label class="btn btn-label-success">Submit</label></button></div>
       </div>
      </div>
    </div>
  </kt-portlet-body>
</kt-portlet>
<div class="col-xl-12">
  <kt-portlet [class]="'kt-portlet--height-fluid'">
    <kt-portlet-body>
      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search inventory here ..">
      </mat-form-field>
      <div class="row">
        <div class="col-6 d-flex justify-content-start">
          <button class="btn btn-success btn-sm" type="button" (click)="openRecipe()"><i
              class="flaticon flaticon-refresh mr-1"></i>Add Item</button>
        </div>
        <div class="col-6 d-flex justify-content-end">
          <!-- <button class="btn btn-success btn-sm" type="button" (click)="launchNew()"> <i class="fa fa-plus mr-1"></i>
            Profile</button> -->
        </div>
      </div>

      <div perfectScrollbar [ngStyle]="{'position': 'relative'}"
        class="mat-table__wrapper mat-table__wrapper--dashboard">

        <mat-table [dataSource]="dataSource" matSort>
          <!-- Name Column -->
          <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
            <mat-cell *matCellDef="let data">
              {{data.id}}
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef> NAME </mat-header-cell>
            <mat-cell *matCellDef="let data">
              {{data.name}}
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="pax">
            <mat-header-cell *matHeaderCellDef> PAX </mat-header-cell>
            <mat-cell *matCellDef="let data">
              {{data.pax}}
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="price">
            <mat-header-cell *matHeaderCellDef> PRICE </mat-header-cell>
            <mat-cell *matCellDef="let data">
              {{data.price}}
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="sold">
            <mat-header-cell *matHeaderCellDef> SOLD </mat-header-cell>
            <mat-cell *matCellDef="let data">
              {{data.sold}}
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="totalamount">
            <mat-header-cell *matHeaderCellDef> SALES </mat-header-cell>
            <mat-cell *matCellDef="let data">
              {{data.sold*data.price}}
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="type">
            <mat-header-cell *matHeaderCellDef> TYPE </mat-header-cell>
            <mat-cell *matCellDef="let data">
              {{data.type}}
            </mat-cell>
          </ng-container>

          <!-- Action Column -->
          <ng-container matColumnDef="action">
            <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
            <mat-cell *matCellDef="let data">
              <div class="justify-content-center">
                <button mat-icon-button color="primary">
                  <mat-icon matTooltip="Edit | Update ">edit</mat-icon>
                </button>
                <button mat-icon-button color="primary" (click)="ingredientopen(data.id)">
                  <mat-icon matTooltip="Add | View Ingredients">add</mat-icon>
                </button>
                <button mat-icon-button color="warn" (click)="delete(data.id)">
                  <mat-icon matTooltip="Delete Menu">delete</mat-icon>
                </button>
              </div>
            </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

        </mat-table>

      </div>
      <div *ngIf="!dataSource" class="row col-xl-12 justify-content-center mt-3">No records found</div>
      <div class="mat-table__bottom mat-table__bottom--padding">
        <mat-paginator [pageSize]="pages" [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons>
        </mat-paginator>
      </div>


    </kt-portlet-body>
  </kt-portlet>
</div>

<!-- Modal Set Default Settings Form -->
<div class="kt-section">
  <div class="kt-section__content">
    <ng-template #setDefaultSettings let-c="close" let-d="dismiss">
      <div class="modal-header">
        <h4 class="modal-title">Confirmation</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to proceed?</p>
      </div>
      <div class="modal-footer">
        <button class="btn btn-danger" type="button" (click)="c('Close click')">Yes</button>
        <button class="btn btn-secondary" type="button" (click)="c('Close click')">No</button>
      </div>
    </ng-template>
  </div>
</div>