<div class="col-xl-12">
  <kt-portlet [class]="'kt-portlet--height-fluid'">
    <kt-portlet-body>
        <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search Ingredient here ..">
      </mat-form-field>
      <div class="row">
        <div class="col-6 d-flex justify-content-start">
          <button class="btn btn-success btn-sm" type="button" (click)="create(null)"><i
              class="flaticon flaticon-add mr-1"></i>New Ingredient</button>
        </div>
      </div>

      <div perfectScrollbar [ngStyle]="{'position': 'relative'}"
        class="mat-table__wrapper mat-table__wrapper--dashboard">
		<ngx-ui-loader [loaderId]="'ingredients-list'" overlayColor="rgba(255, 255, 255, 0.87)"
		fgsType="three-bounce" fgsSize="50">
      </ngx-ui-loader>
        <mat-table [dataSource]="dataSource" matSort>
          <!-- <ng-container matColumnDef="id" *ngIf="false">
            <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
            <mat-cell *matCellDef="let data">
              {{data.id}}
            </mat-cell>
          </ng-container> -->
          <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef> NAME </mat-header-cell>
            <mat-cell *matCellDef="let data">
              {{data.name}}
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="description">
            <mat-header-cell *matHeaderCellDef>DESCRIPTION </mat-header-cell>
            <mat-cell *matCellDef="let data">
              {{data.description}}
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="image">
            <mat-header-cell *matHeaderCellDef>IMAGE </mat-header-cell>
            <mat-cell *matCellDef="let data">
              <img id="myImg" [src]="data.image" width="20" heigth="20">
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="date">
            <mat-header-cell *matHeaderCellDef>DATE ADDED </mat-header-cell>
            <mat-cell *matCellDef="let data">
              {{data.date?.date | date:'M/d/yy'}}
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="shelf">
            <mat-header-cell *matHeaderCellDef>SHELF LIFE </mat-header-cell>
            <mat-cell *matCellDef="let data">
              {{data.life}}
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="quantity">
            <mat-header-cell *matHeaderCellDef>QUANTITY </mat-header-cell>
            <mat-cell *matCellDef="let data">
              {{data.quantity}}
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="available">
            <mat-header-cell *matHeaderCellDef>AVAILABLE </mat-header-cell>
            <mat-cell *matCellDef="let data">
              {{data.available}}
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="unit">
            <mat-header-cell *matHeaderCellDef>UNIT </mat-header-cell>
            <mat-cell *matCellDef="let data">
              {{data.unit}}
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="action">
            <mat-header-cell *matHeaderCellDef> ACTIONS </mat-header-cell>
            <mat-cell *matCellDef="let data">
              <div class="justify-content-center">
                <button mat-icon-button color="primary" (click)="create(data)">
                  <mat-icon matTooltip="Edit | Update ">edit</mat-icon>
                </button>
                <button mat-icon-button color="warn" (click)="delete(data.id)">
                  <mat-icon matTooltip="Delete Menu">delete</mat-icon>
                </button>
              </div>
            </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

        </mat-table>

      </div>
      <div *ngIf="!dataSource" class="row col-xl-12 justify-content-center mt-3">No records found</div>
      <div class="mat-table__bottom mat-table__bottom--padding">
        <mat-paginator [pageSize]="pages" [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons>
        </mat-paginator>
      </div> 


    </kt-portlet-body>
  </kt-portlet>
</div>
